<div class="banner">
    <div class="navbar">
        <a href="/" class="center-align"><img src="css/logo.png" class="signlogo"></a>
    </div>
    <div class="content">
        <h1>About Us</h1>
        <p>Job Guru helps people seeking for work connect with recruiters.<br>
            Simply sign up as a recruiter or candidate, and get started.<br>
            Recruiters are able to connect with candidates and view applications.<br>
            Candidates can view and apply to job listings posted by recruiters!<br>
        </p>
        <p2><br><br>Adelphi University, Fall 2022 (CSC-530)<br><br>Matt Vang<br>Justin Joy<br>Anthony Vallejo<br>Frank
            Mina</p2>
    </div>
</div>