<div class="banner">
    <div class="navbar">
        <a href="/" class="center-align"><img src="css/logo.png" class="signlogo"></a>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="about">About Us</a></li>
            <li><a href="signup">Sign Up</a></li>
            <li><a href="login">Login</a></li>
        </ul>
    </div>
    <div class="content">
        <h1>FIND YOUR DREAM JOB TODAY</h1>
        <p>Job Guru helps you find and apply to jobs with ease!
            <br><b>Sign Up</b> or <b>Login</b> to get started!
        </p>
        <div>
            <a href="signup">
                <button type="button"><span></span>SIGN UP</button></a>
            <a href="login">
                <button type="button"><span></span>LOGIN</button></a>
        </div>
    </div>
</div>