   <form action="/login" method="post">
      <div>
        <a href="/" class="center-align"><img src="css/logo.png" class="signlogo"></a>
        <h2 class="center-align amber-text text-lighten-2">Login To Your Account</h2>
    </div>
      <!--<p1>Please Login</p1>-->
      <input type="email" required placeholder="Enter your Email" class="box" name="email">
      <input type="password" required placeholder="Enter your Password" class="box" name="password">
      <p></p>
      <p></p>
      <p><a href="signup">Don't have an Account? Sign Up Today!</a></p>
      <b></b>
      <button class="btn waves-effect waves-light" type="submit" name="action">Sign In</button>
   </form>
