<form action="/signup" method="post">
    
    <div>
        <a href="/"><img src="css/logo.png" class="signlogo"></a>
        <h2 class="center-align amber-text text-lighten-2">Create Your Account</h2>
    </div>

    <br><br>



    <input type="email" required placeholder="Enter your Email" class="box" name="email">
    <input type="password" required placeholder="Create a Password" class="box" name="password">
    <input type="text" required placeholder="Enter your full name" class="box" name="name">
    <input type="text" required placeholder="Enter your years of experience" class="box" name="yoe">
    <input type="text" required placeholder="Enter your skills" class="box" name="skillset">
    <input type="text" required placeholder="Enter your current job title" class="box" name="jobtitle">

    <label for="recruiter"> Recruiter account</label>
    <input type="checkbox" class="filled-in" id="recruiter" name="recruiter" value="recruiter"
        style="opacity: 100; position:relative">
    <p2>.<br></p2>
    <p class="white-text">Already have an Account? <a href="login">Login Here</a></p>
    <input type="submit" value="Sign Up" class="btn" name="submit">
</form>